
body{
  background-color: azure;
  padding-right: 10px;
}
.home-screen{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 20px;
  text-align: center;
}

.quiz-screen{
  display: none;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-evenly;
  
}

.result-screen{
  display: none;
  flex-direction: column;
  row-gap: 10px;
  min-height: 80vh;
  justify-content: space-evenly;
  align-items: center;
}


.home-screen-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}
.question-mark{
  background-color: blue;
  width: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius:  25px;
  color: white;
}
.sub-header{
  font-size: 22px;
}
.start-btn{
  width: 220px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.emoji{
  font-size: 30px;
  color: blue;
}
section{
  width: 220px;
}
.section{
  display: flex;
  column-gap: 6px;
  align-items: center;
  font-size: 19px;
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: white;
  border-bottom: 3px solid blue;
  padding: 10px 10px;
}
.left-section{
  color: blue;
  width: 50px;
}
.middle-section{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.right-section{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.quiz-screen-head{
  padding: 10px 20px;
  font-size: 22px;
}
.question-number{
  width: 350px;
}

.question-card{
  display: flex;
  flex-direction: column;
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
}

.question{
  font-size: 35px;
  font-weight: bold;
}

.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.option{
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}

.next-div{
  width: 90%;
  display: flex;
  justify-content: end;
}

.next-btn{
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.result-emoji-div{
  padding: 10px;
  background-color: blue;
  width: 150px;
  border-radius: 88px;
}

.result-emoji-div svg{
  color: white; 
}

.result-score{
  font-size: 55px;
  font-weight: bold;
  color: blue;
}

.result-remark{
  font-size: 25px;
}

.play-again{
  width: 220px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;  
}

.go-home{
  width: 220px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background-color: white;
  color:  blue;
  border-radius: 12px;
  border: 3px solid blue;
  cursor: pointer;  
}