.highscores{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 20px;
  text-align: center;
}

.leaderboard-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.leaderboard-section{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60vh;
  font-size: 20px;
  line-height: 50px;
}

.section{
  display: flex;
  column-gap: 6px;
  align-items: center;
  font-size: 25px;
  justify-content: space-between;
  background: white;
  min-height: 10vh;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.last-section{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 20vh;
}

.go-home, .clear-scores{
  width: 220px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer; 
  margin: 10px;  
}
